.app-color-button {
    transition: all 0.2s ease;
    background-color: #f0b100;
    color: #000000;
    border: none;
}

/*Al pasar el mouse por encima del botón, cambia el color de fondo y el color del texto*/
.app-color-button:hover {
    background-color: #e6a800;
    color: #000000;
}

/*Al hacer clic en el botón, cambia el color de fondo y el color del texto*/
.app-color-button:active {
    background-color: #c09000 !important;
    color: #000000 !important;
}